<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BlockDefender.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BlockDefender.AppSettings>
            <setting name="MoveUp" serializeAs="String">
                <value>W</value>
            </setting>
            <setting name="MoveDown" serializeAs="String">
                <value>S</value>
            </setting>
            <setting name="MoveLeft" serializeAs="String">
                <value>A</value>
            </setting>
            <setting name="MoveRight" serializeAs="String">
                <value>D</value>
            </setting>
            <setting name="Exit" serializeAs="String">
                <value>Escape</value>
            </setting>
            <setting name="ListenPort" serializeAs="String">
                <value>1337</value>
            </setting>
            <setting name="ConnectHost" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="ConnectPort" serializeAs="String">
                <value>1337</value>
            </setting>
            <setting name="Interact" serializeAs="String">
                <value>E</value>
            </setting>
        </BlockDefender.AppSettings>
    </userSettings>
</configuration>